body {
  min-width: 320px;
}

header {
  background: red;
  height: 50px;
}

.logo-nw {
  width: 120px;
}

.menu-display {
  /* background: green; */
}

.dropdown-menu {
  margin-left: -150px;
  margin-top: 15px;
}

#subscribe {
  color: red;
}

#sign-in,
#subscribe {
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar1-link {
  color: black;
  font-weight: bold;
  font-size: 19px;
  box-sizing: border-box;
  text-align: center !important;
}

.navbar1-item {
  border-right: 1px solid lightgray;
}

#form-s {
  width: 10% !important;
  padding-left: 5px;
}

#navbar-cont {
  width: 90% !important;
  margin-bottom: 0 !important;
}

.autors {
  width: 63px;
  height: 63px;
  box-sizing: border-box;
}

.pic-mores {
  width: 135px;
}

.pic-cont-mores {
  float: left;
  width: 135px;
}

.title-mores {
  /* margin-left: 145px; */
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    min-width: 768px;
    max-width: 991px;
  }
}

@media only screen and (min-width: 992px) {
  body {
    min-width: 992px;
    max-width: 100%;
  }

  .logo-nw-big {
    width: 420px;
  }

  header {
    height: 80px;
  }

  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}
